body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161616 !important;
  color: white !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cover {
  height: 100vh;
  background-image: url(./assets/cover/cover.jpg);
  background-size: cover;
  background-position: center;
}

.BGdark {
  background: #1b1b1b;
}

.exercise {
  position: relative !important;
  overflow: hidden;
  cursor: pointer;

}

.caption {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.exercise img
{
  opacity: 0.6 !important;
  transition: transform 1s 0.1s;
}

.exercise:hover img
{
    transform: scale(1.5);
}

.exercise:hover .caption h3
{
  color: rgba(220,53,69)!important;
}

.css-tio8bx-MuiButtonBase-root-MuiPaginationItem-root
{
  color: aliceblue !important;
}

.css-1scal0h-MuiPaginationItem-root
{
  color: aliceblue !important;
}

.gym
{
  cursor: pointer;
}
